.header {
  height: 26.83vh;
  max-width: 100vw;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(#4B29D4 0%, #2C9BD9 100%);
  position: relative;
}

.greeting {
  font-size: 4.32vh;
  text-align: center;
  position: absolute;
  top: 10.7536710344%;
  left: 0;
  right: 0;
  font-weight: 600;
  color: #fff;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40.4vh;
  font-size: 4.32vh;
  font-weight: 600;
  left: 50%;
  margin: 12.26vh -20.2vh 6.2rem -20.2vh;
  position: absolute;
  cursor: pointer;
}

.navbar>li>a {
  text-decoration: none;
  color: #fff;
}

#homeBtn,
#todoBtn {
  position: relative;
}

.active::after {
  content: '';
  width: 100%;
  height: 0.432vh;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
