/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat',
    sans-serif;
}

html,
body {
  height: 100vh;
}

.skycons__canvas {
  height: 6rem;
  left: 1rem;
  position: absolute;
}
