input.todo_input {
  height: 6.06rem;
  width: 100%;
  border-radius: 2.88rem 7.21rem 7.21rem 2.88rem;
  border: 0.4329rem solid #3771D7;
  box-shadow: 0 0 1.44rem 0 rgba(170, 168, 168, 0.2);
  outline: none;
  text-indent: 2.88rem;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 2.30rem;
  line-height: 2.88rem;
  padding-right: 6.06rem;
  color: #728C9B;
}

input.todo_input::placeholder {
  text-indent: 2.88rem;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 2.30rem;
  line-height: 2.88rem;
  color: #728C9B;
}

input.todo_input::-moz-placeholder {
  text-indent: 2.88rem;
  font-family: Montserrat,
    sans-serif;
  font-weight: 500;
  font-size: 2.30rem;
  line-height: 5.33rem;
  color: #728C9B;
}

input.todo_input::-webkit-input-placeholder {
  text-indent: 2.88rem;
  font-family: Montserrat,
    sans-serif;
  font-weight: 500;
  font-size: 2.30rem;
  line-height: 2.88rem;
  color: #728C9B;
}

.addBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 6.06rem;
  width: 6.06rem;
  border-radius: 3.03rem;
  box-shadow: none;
  border: none;
  background: #3771D7;
  cursor: pointer;
  outline: none;
}


.addBtn>svg {
  width: 2.30rem;
  height: 2.30rem;
}


.complete {
  opacity: 0.7;
}

.emptyMessage {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 2.30rem;
  line-height: 2.88rem;
  color: #c0cecb;
}

.todo_item {
  width: 100%;
  margin-top: 2.88rem;
  min-height: 6.06rem;
  box-shadow: 0 0 2.88rem 0 rgba(170, 168, 168, 0.2);
  border-radius: 1.15rem;
  padding: 0 12.26rem 0 2.88rem;
  position: relative;
}

.todo_buttons {
  position: absolute;
  right: 2.16rem;
  top: 0;
  margin: auto 0;
}

.todo_item_label {
  color: #728C9B;
  font-weight: 500;
  font-size: 2.45rem;
  height: 100%;
  line-height: 6.06rem;
  max-width: 100%;
  box-align: center;
  cursor: pointer;
}

.complete .todo_item_label {
  text-decoration: line-through;
}

.todo_item_edit {
  color: #728C9B;
  font-weight: 500;
  font-size: 2.45rem;
  height: 6.06rem;
  height: 6.06rem;
  max-width: 100%;
  border: none;
  outline: none;
}

.todo_item_done,
.todo_item_remove {
  width: 4.43rem;
  height: 6.06rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
}

.todo_item_done>svg,
.todo_item_remove>svg {
  width: 3.17rem;
  height: 3.17rem;
  cursor: pointer;
}

.todo_item_done>svg {
  border-radius: 3.03rem;
  border: 0.28rem solid #3771D7;
  transition: 0.2s border ease;
}

.todo_item_done::before {
  content: '';
  height: 3.17rem;
  width: 0.144rem;
  background: #c0cecb;
  position: absolute;
  right: 4.473rem;
}

.todo_item_remove {
  fill: #c0cecb;
  transition: 0.2s fill ease;
}

.todo_item_remove:hover {
  fill: #e85656;
  transition: 0.2s fill ease;
}

.todo_item_done {
  fill: #3771D7;
  transition: 0.2s fill ease;
}

.todo_item_done>svg:hover {
  fill: #fff;
  border: 0.288rem solid #3771D7;
  transition: 0.2s all ease;
  background-color: #3771D7;
}

.complete .todo_item_done>svg {
  fill: #fff;
  background-color: #3771D7;
  transition: 0.2s all ease;
}

.complete .todo_item_done>svg:hover {
  background-color: #fff;
  fill: #3771D7;
  transition: 0.2s all ease;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.active {
  color: #dc3545 !important;
}

.left_extra_container {
  width: 60%;
  height: 6.06rem;
  display: flex;
  box-shadow: 0 0 1.44rem 0 rgba(170, 168, 168, 0.2);
  border-radius: 1.15rem;
}

.left_extra_container button {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  margin: 0;
  height: inherit;
  color: #728C9B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.left_extra_container button:nth-of-type(2) {
  border-left: 0.144rem solid rgba(170, 168, 168, 0.2);
  border-right: 0.144rem solid rgba(170, 168, 168, 0.2);
}

.right_extra_container {
  width: 35%;
  height: 6.06rem;
  box-shadow: 0 0 1.44rem 0 rgba(170, 168, 168, 0.2);
  border-radius: 1.15rem;
  text-align: center;
}

.right_extra_container {
  color: #728C9B;
  position: relative;
}

.right_extra_container button {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  margin: 0;
  height: inherit;
  color: #728C9B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

button {
  font-size: 2.02rem;
}
