.quotebox {
  color: #728C9B;
}

.quotebox__quote {
  display: block;
  font-size: 2.45vh;
  font-weight: 500;
  text-align: center;
}

.quotebox__author {
  display: block;
  font-size: 2.16vh;
  font-weight: 500;
  text-align: right;
}

.timecontainer {
  text-align: center;
}

.time,
.day {
  display: block;
}

.time {
  color: #6999B5;
  font-size: 5.77vh;
  font-weight: 500;
}

.day {
  color: #728C9B;
  font-size: 3vh;
  font-weight: 500;
}

.errorMessage {
  text-align: center;
  width: 100%;
}


.temparature__box {
  color: #67889B;
  font-weight: 500;
  display: inline;
}

.temparature {

  font-size: 6.63vh;
  line-height: 8.08vh;
  height: inherit;
}

.degree {
  font-size: 4.9vh;
  height: 8.08vh;
  height: inherit;

}

.iconTempWrap {
  position: relative;
}

.summary {
  font-size: 2.88vh;
  text-align: right;
  color: #6999B5;
}

.icon {
  width: 9.23vh;
}

.weather,
.iconTempSummaryWrap {
  display: flex;
}

.notweather {
  width: 100%;
  text-align: center;
  font-size: 2.88vh;
  border: 1px solid #dc3545;
  border-radius: 8px;
  padding: 0.72vh;
  background: #ff98a3;
  color: #bc0719;
}

.iconTempSummaryWrap {
  flex-direction: column;
  flex: 1;
}

.timezone {
  color: #6999B5;
  font-size: 3.46vh;
  flex: 1;
  text-align: left;
  text-indent: 15%;
  line-height: 100%;
  position: relative;
}

.timezone>p {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
