.quotebox {
  color: #728C9B;
}

.quotebox__quote {
  display: block;
  font-size: 2.45rem;
  font-weight: 500;
  text-align: center;
}

.quotebox__author {
  display: block;
  font-size: 2.16rem;
  font-weight: 500;
  text-align: right;
}

.timecontainer {
  text-align: center;
}

.time,
.day {
  display: block;
}

.time {
  color: #6999B5;
  font-size: 5.77rem;
  font-weight: 500;
}

.day {
  color: #728C9B;
  font-size: 3rem;
  font-weight: 500;
}

.errorMessage {
  text-align: center;
  width: 100%;
}


.temparature__box {
  color: #67889B;
  font-weight: 500;
  display: inline;
}

.temparature {

  font-size: 6.63rem;
  line-height: 9.2rem;
  height: inherit;
  color: #67889B;
}

.degree {
  font-size: 4.9rem;
  line-height: 8rem;
  color: #67889B;
}

.iconTempWrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.summary {
  font-size: 2.88rem;
  text-align: right;
  color: #6999B5;
}

.icon {
  width: 9.23rem;
  height: 9.23rem !important;
}

.weather,
.iconTempSummaryWrap {
  display: flex;
}

.notweather {
  width: 100%;
  text-align: center;
  font-size: 2.88rem;
  border: 1px solid #dc3545;
  border-radius: 8px;
  padding: 0.72rem;
  background: #ff98a3;
  color: #bc0719;
}

.iconTempSummaryWrap {
  flex-direction: column;
  flex: 1;
  margin-right: 4rem;
}

.timezone {
  color: #6999B5;
  font-size: 3.46rem;
  flex: 1;
  text-align: left;
  line-height: 100%;
  position: relative;
}

.timezone>p {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@media only screen and (max-width: 378px) {
  .temparature {
    font-size: 5.6rem;
  }

  .degree {
    font-size: 4rem;
  }
}
