<div *ngIf="locationAvailability" class="weather">
    <span *ngIf="weatherReportReady" class="iconTempSummaryWrap">
        <div class="iconTempWrap">
            <img class='icon' src="../../assets/icons/{{weatherIcon}}" alt="{{weatherIcon}}">
            <span class="temparature">{{temperature}}</span>
            <span class="degree">°C</span>
        </div>
        <span class="summary">{{summary}}</span>
    </span>
    <span class="timezone">
        <p>{{timezone}}</p>
    </span>
</div>

<div *ngIf="!locationAvailability" class="notweather">
    Please allow location for weather updates.
</div>
<div class="timecontainer">
    <span class="time">{{ time | date:'hh:mm a' }}</span>
    <span class="day">{{ time | date:'EEEE, dd LLLL' }}</span>
</div>

<div class="quotebox">
    <span class="quotebox__quote">{{quoteStr}}</span>
    <span class="quotebox__author">{{quoteAuthor}}</span>
</div>